<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="height: 100vh;">
        <form action="/login" method="POST">
            <label for="username" >Username</label>
            <input type="text" name="username" id="username" value="" placeholder="" required autofocus>
            <div class="">
                <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="" placeholder="">
                
            </div>
            <input type="submit" value="Log In" class="">
            <a href="/addUser">Add new User</a>
        </form>
    </div>
</body>

</html>